.cutaway {
  width: 100%;
  height: 100vh;
  background-color: $c-primary;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include maxWidth767 {
    justify-content: flex-start;
    padding-top: 3rem;
  }
  @include maxWidth350 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    @include maxWidth767 {
      position: static;
    }
  }
  &__image {
    margin-bottom: 1.5rem;
    &_img {
      border-radius: 50%;
    }
    @include minWidth1824 {
      width: 300px;
      height: 300px;
      span {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
  &__name {
    margin-bottom: 1rem;
    color: $c-white;
    font-family: 'League Spartan', 'sans-serif';
    font-size: 1.77rem;
    @include maxWidth767 {
      font-size: 1.5rem;
      margin-bottom: .7rem;
    }
    &.uk {
      font-family: 'Rubik', 'sans-serif';
    }
  }
  &__subtitle {
    max-height: 1.4rem;
    overflow: hidden;
    margin-bottom: 1rem;
    &_list {
      transition: transform .5s ease-in-out;
    }
    &_item {
      text-align: center;
      color: $c-white;
      font-family: 'League Spartan', 'sans-serif';
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-bottom: 1.3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.uk {
      .cutaway__subtitle_item {
        font-weight: 600;
        font-family: 'Rubik', 'sans-serif'
      }
    }
  }
  &__hire {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    width: 100%;
    @include maxWidth767 {
      margin-bottom: 4rem;
    }
    @include maxWidth450 {
      margin-bottom: 0;
    }
  }
  &__scroll {
    position: absolute;
    bottom: -45px;
    cursor: pointer;
    .field {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 300px;
    }
    .mouse {
      width: 30px;
      height: 45px;
      border: 3px solid $c-white;
      border-radius: 60px;
      position: relative;
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $c-white;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
      }
    }
    @include maxWidth767 {
      bottom: 80px;
    }
    @include maxWidth350 {
      bottom: 55px;
    }
  }

  &__image,
  &__name,
  &__subtitle,
  &__social svg,
  &__scroll svg {
    pointer-events: none;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
