.core-layout {
  height: 100%;
}

.main {
  margin-left: 250px;
  @include maxWidth1170 {
    margin-left: 200px;
  }
  @include maxWidth767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 100%;
    order: 0;
    margin: 0;
  }
}
