.logo {
  display: inline-block;
  cursor: pointer;
  font-family: Changa, sans-serif;
  font-size: 3rem;
  color: $c-white; // deepskyblue
  span:last-child {
    color: $c-secondary; // yellow
  }
  span {
    pointer-events: none;
  }
}
