.modal__tab {
  margin: -40px -40px 0px;
  background-color: $c-primary;
  &_list {
    display: flex;
  }
  &_item {
    color: $c-white-darken-1;
    font-size: 1.15rem;
    font-family: "League Spartan", "sans-serif";
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    cursor: pointer;
    &-active {
      @extend .modal__tab_item;
      color: $c-primary;
      background-color: $c-white;
    }
  }
}
.modal__content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}

.modal__title {
  color: $c-primary;
  text-align: center;
  font-size: 1.35rem;
  font-family: Rubik, sans-serif;
  margin: 2rem 0 2rem 0;
  font-weight: 600;
}

.modal__button {
  align-self: flex-end;
  margin-top: auto;
  .shared-button {
    width: 100%;
    &:hover {
      transform: scale(1);
    }
  }
}

.modal__tab + .modal__content {
  height: calc(100% - 40px);
}