@import "variables";
@import "mixins";

html {
  height: 100%;
  font-size: 15px;
  @include minWidth1824 {
    font-size: 21px;
  }
}

// Scrollbar styles
#__next {
  height: 100%;
}
body {
  height: 100%;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: $c-primary;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $c-white;
    box-shadow: inset 2px 2px 5px 0 rgba($c-primary, 0.5);
    border-radius: 100px;
  }
}

html,
body,
div {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

//html[lang="uk"] {
//  font-family: 'Rubik', 'sans-serif';
//  body, div {
//    font-family: 'Rubik', 'sans-serif';
//  }
//}

body, html {
  background-color: $c-white-darken-1;
}

h1, h2, h3, h4, h5, h6, p, nav, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  @include minWidth1824 {
    max-width: 1400px;
  }
}

.section {
  box-sizing: border-box;
  padding: 40px 30px 40px;
  width: 100%;
  @include minWidth1824 {
    padding: 70px 20px 70px;
  }
  @include maxWidth767 {
    padding: 20px 30px 20px;
  }
}

.card {
  border-radius: 1.5rem;
  padding: 1.7rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background-color: $c-white;
}

// modal styles
.ReactModal {
  &__Overlay {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .4) !important;
  }
  &__Content {
    inset: 15% !important;
    border-radius: 2rem !important;
    padding: 40px !important;
    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
    @include maxWidth767 {
      inset: 5% !important;
    }
    @include minWidth1824 {
      inset: 15% 25% !important;
    }
  }
  &__Body--open {
    overflow-y: hidden;
    margin-right: 12px;
  }
}

.form-control {
  margin-bottom: 1.5rem;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 1rem .25rem 1rem;
    label {
      font-size: 1.1rem;
      display: block;
      font-family: Rubik, sans-serif;
      font-weight: 600;
      color: $c-primary;
    }
    span {
      font-family: "League Spartan", "sans-serif";
      font-size: .9rem;
      color: $c-secondary-lighten;
      font-weight: 600;
    }
  }
  &__input {
    opacity: .8;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: .4rem 1.5rem;
    border-radius: 2rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .1);
    width: 100%;
    font-family: "League Spartan", sans-serif;
    background-color: $c-white-darken-1;
    resize: none;
    height: 50px;
    &_error {
      @extend .form-control__input;
      border: 2px solid $c-secondary-lighten;
    }
    @include maxWidth1170 {
      opacity: 1;
    }
    &_textarea {
      @extend .form-control__input;
      height: 120px;
    }
  }
}

.admin-circle-button {
  font-weight: 400;
  font-size: 1.2rem;
  color: $c-white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-primary;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  &.remove {
    background-color: $c-secondary;
  }
}

