.modal-list {
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 1 calc(50% - 1rem);
    margin-right: 2rem;
    &:nth-child(2n+2) {
      margin-right: 0 !important;
    }
    @include maxWidth767 {
      flex-direction: column;
      flex: 100%;
      margin-right: 0;
    }
  }
}

.modal__button {
  align-self: flex-end;
  .shared-button {
    width: 100%;
    &:hover {
      transform: scale(1);
    }
  }
}
.modal__title {
  color: $c-primary;
  text-align: center;
  font-size: 1.35rem;
  font-family: Rubik, sans-serif;
  margin: 1rem 0 2rem 0;
  font-weight: 600;
}


.modal-image {
  margin-right: 1rem;
  &__wrapper {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    width: 225px;
    height: 225px;
    position: relative;
    cursor: pointer;
    &:after {
      opacity: 0;
      inset: 0;
      position: absolute;
      content: 'Change avatar';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c-white;
      font-weight: 700;
      transition: opacity .25s linear;
    }
    &:hover:after {
      transition: opacity .25s linear;
      opacity: 1;
    }
  }
  &__input {
    display: none;
  }
}

.modal-general {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-bottom: 2rem;
  }
  .modal-status {
    display: flex;
    flex-direction: column;
    height: 100%;
    .modal__title {
      margin-top: 1.5rem;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
    }
    &__item {
      position: relative;
      display: flex;
      justify-content: center;
      flex: 0 1 50%;
      color: $c-primary;
      font-weight: 600;
      margin-bottom: 3rem;
      font-size: 1.2rem;
      text-align: center;
      p, span {
        font-family: 'Rubik', 'sans-serif';
      }
      span {
        cursor: pointer;
      }
      &_edit {
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        display: flex;
        > span {
          font-size: .8rem;
          height: 20px;
          width: 20px;
          &:first-child {
            margin-right: 3px;
          }
        }
      }
    }
    &__input {
      margin-top: auto;
    }
  }
  .modal-name {
    &__input {
      font-size: 1.1rem;
      font-family: 'Rubik', 'sans-serif';
      outline: none;
      border: 1px solid lighten($c-primary, 67%);
      border-radius: 15px;
      padding: 5px 10px;
    }
  }
}