.education-item {
  display: flex;
  margin-bottom: .5rem;
  position: relative;
  &__icon {
    position: relative;
    margin: 0 1rem 0 .2rem;
    svg {
      fill: $c-secondary;
    }
    &:after {
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      content: '';
      background-color: lighten($c-secondary, 10);
      width: 1.8px;
    }
  }
  &__content {
    flex: 1;
    padding-bottom: 1rem;
  }
  &__admin {
    position: absolute;
    z-index: 10;
    right: calc(-1.7rem - 17.5px);
    top: 50%;
    transform: translateY(-50%);
  }
  &__term {
    margin: .3rem 0 .6rem 0;
    letter-spacing: .8px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
    font-size: .9rem;
    text-transform: uppercase;
  }
  &__title {
    display: flex;
    color: $c-primary;
    font-size: 1.2rem;
    letter-spacing: .8px;
    font-family: 'Rubik', 'sans-serif';
    font-weight: 700;
    margin-bottom: .5rem;
    white-space: nowrap;
    span {
      display: block;
    }
    span:first-child {
      margin-right: 5px;
    }
    &.uk {
      span {
        font-size: 1.1rem !important;
      }
    }
  }
  &__text {
    color: #666666;
    letter-spacing: .9px;
    line-height: 1.1rem;
  }
}
