.cutaway-social {
  margin-bottom: 1.5rem;
  cursor: pointer;
  @media (max-width: 767px) and (orientation:landscape) {
    margin-bottom: .75rem;
  }
  &__list {
    display: flex;
  }
  &__link {
    margin: 0 10px;
    svg {
      fill: $c-white;
      width: 38px;
      @media (max-width: 767px) and (orientation:landscape) {
        width: 25px;
        height: 25px;
      }
    }
    &:hover {
      animation: .5s bounce;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1, .8);
  }

  75% {
    transform: scale(1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}