.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  height: 100vh;
  background-color: $c-primary;
  @include minWidth1824 {
    width: 350px;
  }
  @include maxWidth1170 {
    width: 200px;
  }
  @include maxWidth767 {
    position: fixed;
    z-index: 100;
    left: 200%;
    order: 1;
    //min-width: auto;
    width: 70%;
    flex: 0 1 0%;
    transition: all 1s ease-in-out;
  }
  &_active {
    @extend .aside;
    @include maxWidth767 {
      inset: 0;
      left: 30%;
      transition: left .5s ease;
    }
    .aside__wrapper_opened {
      @include maxWidth767 {
        border-right: 0;
        border-left: 1px solid rgba(255, 255, 255, .1);
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }
  &__wrapper {
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, .5);
    @include maxWidth767 {
      border-right: 0;
      border-left: 1px solid rgba(255, 255, 255, .5);
    }
  }
  &__logo {
    margin-bottom: 8rem;
    @include maxWidth767 {
      margin-bottom: 5rem;
    }
  }
  &__burger {
    position: fixed;
    right: 20px;
    top: 20px;

    display: none;
    align-items: center;
    justify-content: center;

    @include maxWidth767 {
      display: flex;
    }

    &_button {
      position: relative;
      height: 26px;
      width: 35px;
      cursor: pointer;
      background-color: transparent;

      &.active {
        span {
          opacity: 0;
        }
        &.aside__burger_button:before,
        &.aside__burger_button:after  {
          top: 40%;
        }
        &.aside__burger_button:before {
          transform: rotate(45deg);
        }
        &.aside__burger_button:after {
          transform: rotate(-45deg);
        }
      }

      span,
      &:before,
      &:after {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: $c-white;
        border-radius: 6px;
        opacity: 1;
      }
      &:before,
      &:after {
        content: "";
        transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1), background-color .25s linear;
      }

      span {
        top: 40%;
        transform: translateY(-50%);
        transition: background-color .25s linear;
      }
      &:before {
        top: 0;
      }
      &:after {
        top: calc(90% - 6px);
      }
    }

    &.darken {
      .aside__burger_button:not(.active) {
        span,
        &:before,
        &:after {
          background-color: $c-primary;
        }
      }
    }
  }
  h1 {
    display: none;
  }
}
