.project-item {
  flex: 0 1 calc(33% - .66rem);
  margin: 0 1rem 1rem 0;
  &:nth-child(3n+3) {
    margin-right: 0;
    @include maxWidth1170 {
      margin-right: 1rem;
    }
    @include maxWidth767 {
      margin-right: 0;
    }
  }
  @include maxWidth1170 {
    flex-basis: calc(50% - .5rem);
    &:nth-child(2n+2) {
      margin-right: 0;
    }
   }
  @include maxWidth767 {
    flex-basis: 100%;
    margin-right: 0;
  }
}
