.education {
  position: relative;
  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    @include maxWidth1170 {
      flex-direction: column;
    }
  }

  &__courses {
    position: absolute;
    right: 64px;
    top: -50%;
    transform: translateY(60%);
    @include maxWidth767 {
      width: 100%;
      position: relative;
      inset: 0;
      transform: unset;
    }
  }

  &__card {
    width: 350px;
    @include maxWidth1170 {
      width: 100%;
      margin: 0 0 2rem 0;
    }
    &.typeEducation {
      position: relative;
      &:after {
        position: absolute;
        inset: 0;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        opacity: .06;
        @include maxWidth1170 {
          background-position: 75% 50%;
          background-size: 30%;
        }
        @include maxWidth450 {
          background-position: 50%;
          background-size: 50%;
        }
      }
    }
    &.typeEducation:after {
      background-image: url("/icons/education-icons/education.svg");
    }
    &.typeLearning:after {
      background-image: url("/icons/education-icons/learning.svg");
    }
  }
}
