.experience {
  &__content {
    width: 100%;
    display: flex;
    @include maxWidth1170 {
      flex-direction: column;
    }
    > div.card {
      flex: 1;
    }
  }

  &__degree {
    margin-right: 2rem;
    @include maxWidth1170 {
      margin: 0 0 2rem 0;
    }
  }
}
