.contact-form {
  &__content {
    margin: 0 auto;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
  }
  .form-control {
    margin-bottom: 1.5rem;
    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 1rem .25rem 1rem;
      label {
        font-size: 1.1rem;
        display: block;
        font-family: Rubik, sans-serif;
        font-weight: 600;
        color: $c-primary;
      }
      span {
        font-family: "League Spartan", "sans-serif";
        font-size: .9rem;
        color: $c-secondary-lighten;
        font-weight: 600;
      }
    }
    &__input {
      opacity: .8;
      box-sizing: border-box;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding: .7rem 1.5rem;
      border-radius: 2rem;
      outline: none;
      border: 2px solid rgba(0, 0, 0, .1);
      width: 100%;
      font-family: "League Spartan", sans-serif;
      background-color: $c-white-darken-1;
      resize: none;
      &_error {
        @extend .form-control__input;
        border: 2px solid $c-secondary-lighten;
      }
      @include maxWidth1170 {
        opacity: 1;
      }
    }
  }
}
