.navigation {
  width: calc(100% - 59px);
  height: calc(100% - 135.2px);
  margin: 20px 20px 20px 40px;
  @include maxWidth1170 {
    margin-left: 30px;
  }
  @include maxWidth767 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include maxWidth767 {
    align-items: center;
  }
  &__list {
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: 'Josefin Sans', 'sans-serif';
      font-size: 1.3rem;
      list-style: none;
      font-weight: 700;
      color: $c-white;
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        position: relative;
        top: -2px;
        fill: $c-secondary-lighten !important;
        margin-right: 1rem;
        @include minWidth1824 {
          transform: scale(1.7);
        }
      }
      svg, span {
        pointer-events: none;
      }
    }
  }
}
